.seller-tabs {
  margin-top: 1rem;
  
  ::ng-deep .mat-mdc-tab-body-content {
    padding: 0;
  }
}

table {
  width: 100%;
  background: transparent;
}

.mat-column-imagem {
  width: 40%; // Mais espaço para o nome do produto
}

.mat-column-acoes {
  width: 100px;
}

// Estilização das células de cabeçalho
th.mat-mdc-header-cell {
  color: #64748b; // slate-500
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f8fafc;
}

tr.element-row:not(.expanded-row):active {
  background: #f1f5f9;
}

.element-row td {
  border-bottom-width: 0;
}

// Estilo para destacar a linha quando expandida
.expanded-row {
    background-color: #f1f5f9;
}